<%= form_for(@appointment, :html=>{:class=>"form-horizontal"} ) do |f| %>
<% if @appointment.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

	<ul>
		<% @appointment.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group field">
	<%= f.label :开始时间,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.datetime_select :start_time %>
	</div>
</div>
<div class="form-group field">
	<%= f.label :结束时间,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.datetime_select :end_time %>
	</div>
</div>
<div class="form-group field">
	<%= f.label :支付状态,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_field :price_paid,:class=>'form-control'  %>
	</div>
</div>
<div class="form-group field">
	<%= f.label :支付费用,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_field :fee,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
	<%= f.label :提交时间,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.datetime_select :submit_time,:readonly=>true%>
	</div>
</div>
<div class="form-group field">
	<%= f.label :审核状态,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_field :status,:readonly=>true,:class=>'form-control'%>
	</div>
</div>
<div class="form-group actions">
	<div class="pull-right">
		
		<%= f.submit '提交',:class=>"btn btn-default"%>
	</div>
</div>
<% end %> 