<%= form_for(@appointment, :html=>{:class=>"form-horizontal"} ) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="input-group">
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :price_paid %><br>
    <%= f.text_field :price_paid,:class=>'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :fee %><br>
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :submit_time %><br>
    <%= f.datetime_select :submit_time,:readonly=>true%>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status,:readonly=>true%>
  </div>
  <span class="input-group-btn">
    <%= f.submit %>
  </div>
  </div>
<% end %>
