<div class="container" >

	<div class="row">
		<div class="col-md-3"  style="margin-top:40px">
			Logo
		</div>

		<div class="col-md-9" style="margin-top:40px">
			<center>
				<h3>新建预约</h3>
			</center>
		</div>

	</div>

	<hr/>
	<div class="row">

		<div class="row">

			<div class="col-md-offset-1 col-md-3">

				<%= image_tag(@instrument.img_url)%>
				</center>
			</div>
			<div class="col-md-offset-1 col-md-6 " >

				<table class="table table-striped">
					<thead>
						<tr>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td >名称:</td><td ><%= @instrument.name %></td>
						</tr>
						<tr>
							<td >型号:</td><td ><%= @instrument.model %></td>
						</tr>
						<tr>
							<td >价格:</td><td > <%= @instrument.price %></td>
						</tr>
						<tr>
							<td >描述:</td><td > <%= @instrument.description %></td>
						</tr>
						<tr>
							<td >状态:</td><td > <%= @instrument.status %></td>
						</tr>

					</tbody>
				</table>

			</div>

		</div>

	</div>

	<hr/>
	<div class="row">

		<%= form_for(@appointment, :html=>{:class=>"form-horizontal"} ) do |f| %>
		<% if @appointment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

			<ul>
				<% @appointment.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="form-group field">
			<%= f.label :日期,:class=>'col-sm-2 control-label' %>
			<div class="col-sm-10">
				<!--<%= f.text_field :start_time,:class=>'form_datetime' %>-->
				<div class="form-group">
					<div class="input-group date form_date col-md-5" data-date="1979-09-16" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
						<input class="form-control" size="16" type="text" value="" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					</div>
					<input type="hidden" id="dtp_input2" value="" />
					<br/>
				</div>

			</div>
		</div>

		<div class="form-group field">
			<%= f.label :时间,:class=>'col-sm-2 control-label' %>
			<div class="col-sm-10">
				<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox1" value="option1">
					08:00-08:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox2" value="option2">
					08:30-09:00  </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					09:00-09:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					09:30-10:00 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					10:00-10:30 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					10:30-11:00 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					14:00-14:30 </label><br/>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					14:30-15:00 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					15:00-15:30 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					15:30-16:00 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					16:00-16:30 </label>
					<label class="checkbox-inline ">
					<input type="checkbox" id="inlineCheckbox3" value="option3">
					16:30-17:00 </label>
			</div>
		</div>

		<div class="form-group field">
			<%= f.label :实验描述,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_area :experiment_description, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field hidden">
			<%= f.label :仪器编号,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :instrument_id, :value => @instrument.id,:class=>'form-control' %>
			</div>
		</div>
		<div  class="form-group field">
			<div class="pull-right">
				<%= collection_select(:Group,:group_id, @groups, :id, :name, options ={:prompt => "选择群组"})%>
			</div>
		</div>
		<div class="form-group actions">
			<div class="pull-right">
				<%= f.submit '提交',:class=>"btn btn-default"%>
			</div>
		</div>
		<% end %>

	</div>

</div>

<script type="text/javascript">
	$('.form_date').datetimepicker({
		// language:  'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		minView : 2,
		forceParse : 0
	});

</script>

