<div class="container" >

	<div class="row">
		<div class="col-md-3"  style="margin-top:60px">
			Logo
		</div>

		<div class="col-md-9" style="margin-top:60px">
			<center>
				<h3>新建预约</h3>
			</center>
		</div

	</div>

	<hr/>
	<div class="row">

		<div class="row">

			<div class="col-md-offset-1 col-md-3">

				<%= image_tag(@instrument.img_url)%>
				</center>
			</div>
			<div class="col-md-offset-1 col-md-6 " >

				<table class="table table-striped">
					<thead>
						<tr>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td >名称:</td><td ><%= @instrument.name %></td>
						</tr>
						<tr>
							<td >型号:</td><td ><%= @instrument.model %></td>
						</tr>
						<tr>
							<td >价格:</td><td > <%= @instrument.price %></td>
						</tr>
						<tr>
							<td >描述:</td><td > <%= @instrument.description %></td>
						</tr>
						<tr>
							<td >计费方式:</td><td > <%= @instrument.fee_per_hour %>元/小时</td>
						</tr>
						<tr>
							<td >状态:</td><td > <%= @instrument.status %></td>
						</tr>

					</tbody>
				</table>

			</div>

		</div>

	</div>

	<hr/>
	<div class="row">

		<%= form_for(@appointment, :html=>{:class=>"form-horizontal"} ) do |f| %>
		<% if @appointment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

			<ul>
				<% @appointment.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="form-group field">
			<%= f.label :日期,:class=>'col-sm-2 control-label' %>

			<div class="form-group">
				<div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
					<input id="date" class="form-control" size="16" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" name="date" value="" />

			</div>

		</div>

		<div class="form-group field">
			<%= f.label :时间,:class=>'col-sm-2 control-label' %>
			<div class="col-sm-10">
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox01" value="01" name="time01" onclick="check('Checkbox01')">
					08:00-08:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox02" value="02" name="time02" onclick="check('Checkbox02')">
					08:30-09:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox03" value="03" name="time03" onclick="check('Checkbox03')">
					09:00-09:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox04" value="04" name="time04" onclick="check('Checkbox04')">
					09:30-10:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox05" value="05" name="time05" onclick="check('Checkbox05')">
					10:00-10:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox06" value="06" name="time06" onclick="check('Checkbox06')">
					10:30-11:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox07" value="07" name="time07" onclick="check('Checkbox07')">
					11:00-11:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox08" value="08" name="time08" onclick="check('Checkbox08')">
					11:30-12:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox09" value="09" name="time09" onclick="check('Checkbox09')">
					12:00-12:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox10" value="10" name="time10" onclick="check('Checkbox10')">
					12:30-13:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox11" value="11" name="time11" onclick="check('Checkbox11')">
					13:00-13:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox12" value="12" name="time12" onclick="check('Checkbox12')">
					13:30-14:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox13" value="13" name="time13" onclick="check('Checkbox13')">
					14:00-14:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox14" value="14" name="time14" onclick="check('Checkbox14')">
					14:30-15:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox15" value="15" name="time15" onclick="check('Checkbox15')">
					15:00-15:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox16" value="16" name="time16" onclick="check('Checkbox16')">
					15:30-16:00 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox17" value="17" name="time17" onclick="check('Checkbox17')">
					16:00-16:30 </label>
				<label class="checkbox-inline ">
					<input type="checkbox" id="Checkbox18" value="18" name="time18" onclick="check('Checkbox18')">
					16:30-17:00 </label>
			</div>
		</div>

		<div class="form-group field">
			<%= f.label :实验名称,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :experiment_name, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field">
			<%= f.label :实验目的,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :experiment_purpose, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field">
			<%= f.label :相关项目,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :related_project, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field">
			<%= f.label :实验样本,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :experiment_sample, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field">
			<%= f.label :实验人员,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :experiment_operator, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field">
			<%= f.label :实验描述,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_area :experiment_description, :value => ' ',:class=>'form-control' %>
			</div>
		</div>
		<div id="test"></div>
		<div class="pull-right">
			<input class="btn btn-default" type="button" value="添加自定义描述" onclick="add_input()" />
		</div>
		<div class="form-group field hidden">
			<input name="number" value="0" id="counter" />
		</div>
		<div class="form-group field hidden">
			<input name="fee" value="0" id="price" />
		</div>
		<div class="form-group field">
			<%= f.label :上传附件 ,:class=>'col-sm-2 control-label'%>
			<div class="col-sm-5">
				<%= f.file_field :url,:class=>'filestyle'%>
			</div>
		</div>
		<div class="form-group field hidden">
			<%= f.label :仪器编号,:class=>'col-sm-2 control-label'  %>
			<div class="col-sm-10">
				<%= f.text_field :instrument_id, :value => @instrument.id,:class=>'form-control' %>
			</div>
		</div>
		<div class="form-group field">
			<%= f.label :付款人,:class=>'col-sm-2 control-label'  %>
			<div class="pull-left col-md-3">
				<%= collection_select(:group,:group_id, @groups, :id, :description, options ={:prompt => "默认:"+@name},:class=>'form-control')%>
			</div>
		</div>
		<div class="form-group field">
			<div class="alert alert-info pull-right col-md-5">
				<h3><small>总费用: &nbsp;&nbsp;</small><label id='fee' style='color:red'>0 元 </label></h3>
			</div>
		</div>
		<div class="form-group actions">
			<div class="pull-right">
				<%= f.submit '提交',:class=>"btn btn-default"%>
			</div>
		</div>
		<% end %>

	</div>

</div>

<script type="text/javascript">
	/*
	 var today=new Date();
	 var str_today_tmp=today.getFullYear()+"-"+today.getMonth()+"-"+today.getDate();
	 $('.form_date').datetimepicker('setStartDate','2014-11-11');
	 */
	$('.form_date').datetimepicker({
		format : 'yyyy-mm-dd',
		language : 'zh-CN',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		minView : 2,
		forceParse : 0
	});

	$('.form_date').datetimepicker().on('changeDate', function(ev) {
		var date = ev.date.valueOf()
		var d = new Date();
		var localOffset = d.getTimezoneOffset() * 60000;
		var utc = date + localOffset;
		d.setTime(utc);
		var year = d.getFullYear().toString();
		var month = d.getMonth() + 1;
		if (month < 10) {
			month = '0' + month.toString();
		} else {
			month = month.toString();
		}

		var day = d.getDate();
		if (day < 10) {
			day = '0' + day.toString();
		} else {
			day = day.toString();
		}
		var date = year + '-' + month + '-' + day;
		//alert(date);
		$.ajax({

			type : "GET",

			url : "/customer/appointments/get_time",

			data : {
				date : date,
			},

			dataType : "json",

			success : function(data) {
				//alert("haha");
				//alert(eval(data).haha);
				data = eval(data);
				//alert(data['time5']);
				enabledAll();
				$.each(data, function(index, item) {
					//alert(data[index]);
					displayCheckbox(data[index]);
				});
			}
		});

	});

	var today = new Date();
	var str_today_tmp = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
	//alert((today.getMonth() + 1).toString());
	$('.form_date').datetimepicker('setStartDate', str_today_tmp);

	function enabledAll() {
		document.getElementById("Checkbox01").disabled = false;
		document.getElementById("Checkbox02").disabled = false;
		document.getElementById("Checkbox03").disabled = false;
		document.getElementById("Checkbox04").disabled = false;
		document.getElementById("Checkbox05").disabled = false;
		document.getElementById("Checkbox06").disabled = false;
		document.getElementById("Checkbox07").disabled = false;
		document.getElementById("Checkbox08").disabled = false;
		document.getElementById("Checkbox09").disabled = false;
		document.getElementById("Checkbox10").disabled = false;
		document.getElementById("Checkbox11").disabled = false;
		document.getElementById("Checkbox12").disabled = false;
		document.getElementById("Checkbox13").disabled = false;
		document.getElementById("Checkbox14").disabled = false;
		document.getElementById("Checkbox15").disabled = false;
		document.getElementById("Checkbox16").disabled = false;
		document.getElementById("Checkbox17").disabled = false;
		document.getElementById("Checkbox18").disabled = false;
	}

	function displayCheckbox(index) {
		//alert(index);
		//document.getElementById("Checkbox1").disabled=true;
		switch(index) {
		case "01":
			disabledCheckbox("Checkbox01");
			break;
		case "02":
			disabledCheckbox("Checkbox02");
			break;
		case "03":
			disabledCheckbox("Checkbox03");
			break;
		case "04":
			disabledCheckbox("Checkbox04");
			break;
		case "05":
			disabledCheckbox("Checkbox05");
			break;
		case "06":
			disabledCheckbox("Checkbox06");
			break;
		case "07":
			disabledCheckbox("Checkbox07");
			break;
		case "08":
			disabledCheckbox("Checkbox08");
			break;
		case "09":
			disabledCheckbox("Checkbox09");
			break;
		case "10":
			disabledCheckbox("Checkbox10");
			break;
		case "11":
			disabledCheckbox("Checkbox11");
			break;
		case "12":
			disabledCheckbox("Checkbox12");
			break;
		case "13":
			disabledCheckbox("Checkbox13");
			break;
		case "14":
			disabledCheckbox("Checkbox14");
			break;
		case "15":
			disabledCheckbox("Checkbox15");
			break;
		case "16":
			disabledCheckbox("Checkbox16");
			break;
		case "17":
			disabledCheckbox("Checkbox17");
			break;
		case "18":
			disabledCheckbox("Checkbox18");
			break;
		default:
		}
	}

	function disabledCheckbox(checkboxId) {
		//alert(checkboxId);
		document.getElementById(checkboxId).disabled = true;
	}

	function add_input() {
		var j = document.getElementById("counter").getAttribute("value");

		i = parseInt(j) + 1;

		var com = document.createElement("div");
		//com.css({'class':'form-group field'});
		com.setAttribute("class", 'form-group field');
		document.getElementById("test").appendChild(com);
		var label1 = document.createElement("label");
		label1.innerHTML = "标题";
		// label1.css({'class':'col-sm-2 control-label'});
		label1.setAttribute("class", 'col-sm-2 control-label');
		com.appendChild(label1);
		var txt_div = document.createElement("div");
		//com.css({'class':'form-group field'});
		txt_div.setAttribute("class", 'col-sm-10');

		var txt = document.createElement("input");
		txt.nodeType = "text";
		txt.setAttribute("name", "key" + i);
		txt.className = 'form-control';
		//txt.css({'class':'form-control col-sm-10'});
		txt_div.appendChild(txt);
		com.appendChild(txt_div);

		var com2 = document.createElement("div");
		//com.css({'class':'form-group field'});
		com2.setAttribute("class", 'form-group field');
		document.getElementById("test").appendChild(com2);
		var label2 = document.createElement("label");
		label2.innerHTML = "内容";
		label2.setAttribute("class", 'col-sm-2 control-label');
		com2.appendChild(label2);
		var area_div = document.createElement("div");
		//com.css({'class':'form-group field'});
		area_div.setAttribute("class", 'col-sm-10');
		var area = document.createElement("textarea");
		area.nodeType = "text"
		area.setAttribute("name", "content" + i);
		area.className = 'form-control';
		//txt.css({'class':'form-control col-sm-10'});
		area_div.appendChild(area);
		com2.appendChild(area_div);
		document.getElementById("test").appendChild(com2);

		j++;
		document.getElementById("counter").setAttribute("value", j);
	}

	function check(id) {
		//alert(id);
		var num = getNumOfChecked();
		var instrument_id = document.getElementById("appointment_instrument_id").getAttribute("value");
		var totalPrice = getTotalPrice(num, instrument_id);

		if (!checkSuccessive()){
			alert("请选择连续时间！");
			document.getElementById(id).checked=false;
		}
	}

	function checkSuccessive() {
		//alert(";;;;");
		i = 0;
		var arrayObj = new Array();
		if (document.getElementById("Checkbox01").checked) {
			arrayObj[i] = 1;
			i++;
		}

		if (document.getElementById("Checkbox02").checked) {
			arrayObj[i] = 2;
			i++;
		}
		if (document.getElementById("Checkbox03").checked) {
			arrayObj[i] = 3;
			i++;
		}
		if (document.getElementById("Checkbox04").checked) {
			arrayObj[i] = 4;
			i++;
		}
		if (document.getElementById("Checkbox05").checked) {
			arrayObj[i] = 5;
			i++;
		}

		if (document.getElementById("Checkbox06").checked) {
			arrayObj[i] = 6;
			i++;
		}
		if (document.getElementById("Checkbox07").checked) {
			arrayObj[i] = 7;
			i++;
		}
		if (document.getElementById("Checkbox08").checked) {
			arrayObj[i] = 8;
			i++;
		}
		if (document.getElementById("Checkbox09").checked) {
			arrayObj[i] = 9;
			i++;
		}
		if (document.getElementById("Checkbox10").checked) {
			arrayObj[i] = 10;
			i++;
		}
		if (document.getElementById("Checkbox11").checked) {
			arrayObj[i] = 11;
			i++;
		}
		if (document.getElementById("Checkbox12").checked) {
			arrayObj[i] = 12;
			i++;
		}
		if (document.getElementById("Checkbox13").checked) {
			arrayObj[i] = 13;
			i++;
		}
		if (document.getElementById("Checkbox14").checked) {
			arrayObj[i] = 14;
			i++;
		}
		if (document.getElementById("Checkbox15").checked) {
			arrayObj[i] = 15;
			i++;
		}
		if (document.getElementById("Checkbox16").checked) {
			arrayObj[i] = 16;
			i++;
		}
		if (document.getElementById("Checkbox17").checked) {
			arrayObj[i] = 17;
			i++;
		}
		if (document.getElementById("Checkbox18").checked) {
			arrayObj[i] = 18;
			i++;
		}
		
		if ((arrayObj[i-1]-arrayObj[0]+1)==i){
			return true;
		}
		else{
			return false;
		}

	}

	function getNumOfChecked() {
		i = 0;
		if (document.getElementById("Checkbox01").checked)
			i++;
		if (document.getElementById("Checkbox02").checked)
			i++;
		if (document.getElementById("Checkbox03").checked)
			i++;
		if (document.getElementById("Checkbox04").checked)
			i++;
		if (document.getElementById("Checkbox05").checked)
			i++;
		if (document.getElementById("Checkbox06").checked)
			i++;
		if (document.getElementById("Checkbox07").checked)
			i++;
		if (document.getElementById("Checkbox08").checked)
			i++;
		if (document.getElementById("Checkbox09").checked)
			i++;
		if (document.getElementById("Checkbox10").checked)
			i++;
		if (document.getElementById("Checkbox11").checked)
			i++;
		if (document.getElementById("Checkbox12").checked)
			i++;
		if (document.getElementById("Checkbox13").checked)
			i++;
		if (document.getElementById("Checkbox14").checked)
			i++;
		if (document.getElementById("Checkbox15").checked)
			i++;
		if (document.getElementById("Checkbox16").checked)
			i++;
		if (document.getElementById("Checkbox17").checked)
			i++;
		if (document.getElementById("Checkbox18").checked)
			i++;
		return i;
	}

	function getTotalPrice(num, instrument_id) {

		$.ajax({

			type : "GET",

			url : "/customer/appointments/get_price",

			data : {
				time : num,
				instrument_id : instrument_id
			},

			dataType : "text",

			success : function(data) {
				changePrice(data);
			}
		});
	}

	function changePrice(price) {
		//alert(price);
		document.getElementById("fee").innerHTML = price + "元";
		document.getElementById("price").setAttribute("value", price);
	}

</script>
