<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<p>
  <strong>Price paid:</strong>
  <%= @appointment.price_paid %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @appointment.fee %>
</p>

<p>
  <strong>Submit time:</strong>
  <%= @appointment.submit_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
