<div class="col-md-9" style="margin-top:40px">
	<center>
		<h3>预约详情</h3>
	</center>
</div>


<div class="row">

	<div class="col-md-10" style="padding:20px">

		<h1> <%= notice %> </h1>
		<div class="仪器详细信息">
			<h2><%= @instrument.name %> </h2>
			<p>

				<%= image_tag(@instrument.img_url)%>
			</p >
			<table class="table table-striped">
				<thead>
					<tr>
						<th>型号</th><th>价格</th><th>描述</th><th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="info"><%= @instrument.model %></td>
						<td class="info"> <%= @instrument.price %></td>
						<td class="info"> <%= @instrument.description %></td>
						<td class="info"> <%= @instrument.status %></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="仪器描述">
			仪器描述：<%= @appointment.application_form.experiment_description %>
		</div>
		<div class="群组信息">
			<table class="table table-striped">
				<thead>
					<tr>
						<th colspan="2"></th>ead>
						<tbody>
							<tr>
								<td>群组名</td><td><%= @group.name %></td>
							</tr>
						</tbody>
			</table>
		</div>
