<div class="container" style="margin-top: 60px">
	<div class="row">
		<div class="col-md-3"  style="margin-top:40px">
			Logo
		</div>

		<div class="col-md-9" style="margin-top:40px">
			<center>
				<h3>预约详情</h3>
			</center>
		</div>

	</div>
	<hr/>
	<div class="row">

		<div class="col-md-offset-1 col-md-3">
          <center>
			<%= image_tag(@instrument.img_url)%>
			</center>
		</div>
		<div class="col-md-offset-1 col-md-6 " >

			<table class="table table-striped">
				<thead>
					<tr>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td >仪器名称:</td><td ><%= @instrument.name %></td>
					</tr>
					<tr>
						<td >型号:</td><td ><%= @instrument.model %></td>
					</tr>
					<tr>
						<td >描述:</td><td > <%= @instrument.description %></td>
					</tr>
					<tr>
						<td >预约日期:</td><td > <%= @appointment.date %></td>
					</tr>
					<tr>
						<td >预约时间:</td><td > <%= @appointment.time %></td>
					</tr>
					<tr>
						<td >总费用:</td><td > <%= @appointment.fee %></td>
					</tr>

				</tbody>
			</table>

		</div>

	</div>

	<div class="row" style="margin-top: 60px">

		<form class="form-horizontal" >

			<div class="form-group">
				<label class="col-sm-2 control-label">实验名称</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @application_form.experiment_name %>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">实验目的</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @application_form.experiment_purpose %>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">相关课题</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @application_form.related_project %>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">实验样品</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @application_form.experiment_sample %>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">实验人员</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @application_form.experiment_operator %>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">实验描述</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @application_form.experiment_description%>
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">付款人</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= @payer.name%>
					</p>
				</div>
			</div>
			<% @metas.each do |meta| %>

			<div class="form-group">
				<label class="col-sm-2 control-label"><%= meta.key %></label>
				<div class="col-sm-10">
					<p class="form-control-static">
						<%= meta.value %>
					</p>
				</div>
			</div>
			<% end %>
			<div class="form-group">
				<label class="col-sm-2 control-label">附件</label>
				<div class="col-sm-5">
						<a class='btn-link' href="/files/<%=@file.url%>"><%=@file.name%></a>
		
				</div>
			</div>
		</form>
			<div class="row pull-right">
				<%= link_to '返回', appointments_path %>
			</div>
	</div>
</div>
<script type="text/javascript">
	window.status=<%= notice %>
</script>