<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region_center.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region_center.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @region_center.url %>
</p>

<%= link_to 'Edit', edit_region_center_path(@region_center) %> |
<%= link_to 'Back', region_centers_path %>
