<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager_a_level_tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manager_a_level_tag.description %>
</p>

<%= link_to 'Edit', edit_manager_a_level_tag_path(@manager_a_level_tag) %> |
<%= link_to 'Back', manager_a_level_tags_path %>
