<div class="container" style="margin-top: 60px">
	<div class="row">

		<div class="row">
			<div class="col-md-3"  style="margin-top:40px">
				Logo
			</div>

			<div class="col-md-6" style="margin-top:40px">
				<form role='form' method="post" action="/welcome/search">
					<div class="input-group">
						<input type="text" name="search" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜索
							</button> </span>
					</div>
				</form>
			</div>

		</div>

	</div>
	<div class="row">
		<div class="col-md-2 visible-lg-block visible-md-block" style="padding-top: 20px">
			<div class="panel-group" id="accordion">

				<% @a_level_tags.each do |a_level_tag| %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
						href="#<%= a_level_tag.name %>"> <%= a_level_tag.name %> </a></h4>
					</div>
					<div id="<%= a_level_tag.name %>" class="panel-collapse collapse in">
						<% @b_level_tags=a_level_tag.b_level_tags%>
						<% @b_level_tags.each do |b_level_tag|%>
						<div class="panel-body">
							<a data-toggle="collapse" data-parent="#accordion"
						href="/welcome/tag_search?id=<%= b_level_tag.id %>"> <%= b_level_tag.name %> </a>
						</div>
						<% end %>
					</div>
				</div>

				<% end %>

			</div>
		</div>

		<div class="col-md-10"  style="padding: 30px">

			<div class="row">
				<% @instruments.each do |instrument| %>
				<div class="col-xs-6 col-sm-3">
					<div class="thumbnail">
						<a href="/instruments/<%= instrument.id %>"> <%= image_tag(instrument.img_url,{width:'200',height:'200'})%> </a>
						<div class="caption">
							<small>仪器名:<%= instrument.name %>
								<br/>
								型号:  <%= instrument.model %>
								<br/>
							</small>
							<center>
								<a class="btn btn-link" href="/appointments/new?id=<%= instrument.id%>" role="button">预约</a>
							</center>
						</div>
					</div>
				</div>

				<% end %>
			</div>

		</div>
	</div>

	<div class="row pull-right">
		<nav>
			<ul class="pagination">
				<li class="disabled">
					<a href="#">«</a>
				</li>
				<li class="active">
					<a href="#">1 <span class="sr-only">(current)</span></a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">»</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
