<%= form_for [:manager, @manager_b_level_tag] do |f| %>
<% if @manager_b_level_tag.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@manager_b_level_tag.errors.count, "error") %> prohibited this manager_b_level_tag from being saved:</h2>

	<ul>
		<% @manager_b_level_tag.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group field">
	<%= f.label :二级标签名称,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_field :name,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
	<%= f.label :标签描述,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_area :description,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
	<%= f.label :所属一级标签,:class=>'col-sm-2 control-label'  %>
	<div class="pull-left col-md-3">
		<%= collection_select(:a_level_tag,:a_level_tag_id, @a_level_tags, :id, :name, options ={:prompt => "请选择父标签"},:class=>'form-control')%>
	</div>
</div>
<div class="form-group field actions">
	<div class="pull-right">
		<%= f.submit '提交',:class=>"btn btn-default" %>
	</div>
</div>
<% end %>
