<div class="container" style="margin-top: 60px">
	<div class="row">
		<div class="row">
			<div class="col-md-3"  style="margin-top:40px">
				Logo
			</div>

			<div class="col-md-9" style="margin-top:40px">
				<center>
					<h3>二级标签管理</h3>
				</center>
			</div>

		</div>

	</div>

	<div class="row">
		<div class="col-md-2" style="padding: 20px">
			<%= render "manager/common/sidebar"%>
		</div>

		<div class="col-md-10" style="padding:20px">

			<table class="table table-hover">
				<thead>
					<tr>
						<th>二级标签名称</th>
						<th>标签描述</th>
						<th>所属一级标签</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @manager_b_level_tags.each do |manager_b_level_tag| %>
					<tr>
						<td><%= manager_b_level_tag.name %></td>
						<td><%= manager_b_level_tag.description %></td>
						<td>
						<% @manager_a_level_tags.each do |manager_a_level_tag| %>
						<% if manager_a_level_tag.id==manager_b_level_tag.a_level_tag_id%>
						<%= manager_a_level_tag.name%>
						<%end%>
						<% end %>
						</td>
						<td><%= link_to '详情', manager_b_level_tag_path(manager_b_level_tag) %></td>
						<td><%= link_to '编辑', edit_manager_b_level_tag_path(manager_b_level_tag) %></td>
						<td><%= link_to '删除', manager_b_level_tag_path(manager_b_level_tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<br>
		<div class="row pull-right">
			<%= link_to '创建二级标签', new_manager_b_level_tag_path %>
		</div>
	</div>
</div>