<h1>Listing manager_users</h1>

<table>
  <thead>
    <tr>
      <th>Card number</th>
      <th>Name</th>
      <th>Password</th>
      <th>Sex</th>
      <th>Id number</th>
      <th>Phone</th>
      <th>Picture</th>
      <th>Email</th>
      <th>Address</th>
      <th>Status</th>
      <th>Default group</th>
      <th>Institution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manager_users.each do |manager_user| %>
      <tr>
        <td><%= manager_user.card_number %></td>
        <td><%= manager_user.name %></td>
        <td><%= manager_user.password %></td>
        <td><%= manager_user.sex %></td>
        <td><%= manager_user.id_number %></td>
        <td><%= manager_user.phone %></td>
        <td><%= manager_user.picture %></td>
        <td><%= manager_user.email %></td>
        <td><%= manager_user.address %></td>
        <td><%= manager_user.status %></td>
        <td><%= manager_user.default_group_id %></td>
        <td><%= manager_user.institution_id %></td>
        <td><%= link_to 'Show', manager_user_path(manager_user)  %></td>
        <td><%= link_to 'Edit', edit_manager_user_path(manager_user) %></td>
        <td><%= link_to 'Destroy', manager_user_path(manager_user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_manager_user_path %>
