<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @check_rule.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @check_rule.description %>
</p>

<%= link_to 'Edit', edit_check_rule_path(@check_rule) %> |
<%= link_to 'Back', check_rules_path %>
