<%= form_for(@user, :html=>{:class=>"form-horizontal"}) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group field">
	<%= f.label :卡号,:class=>'col-sm-2 control-label'%>
		<div class="col-sm-10">
	<%= f.text_field :card_number,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :姓名,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
	<%= f.text_field :name,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :密码,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
	<%= f.text_field :password,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :性别 ,:class=>'col-sm-2 control-label'%>
	<div class="col-sm-10">
	<%= f.text_field :sex,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :ID,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
	<%= f.text_field :id_number ,:class=>'form-control' %></div>
</div>
<div class="form-group field">
	<%= f.label :电话号码,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
	<%= f.text_field :phone ,:class=>'form-control' %></div>
</div>
<div class="form-group field">
	<%= f.label :照片,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
	<%= f.text_field :picture,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :电子邮件地址,:class=>'col-sm-2 control-label'%>
	<div class="col-sm-10">
	<%= f.text_field :email ,:class=>'form-control' %></div>
</div>
<div class="form-group field">
	<%= f.label :地址 ,:class=>'col-sm-2 control-label'%>
	<div class="col-sm-10">
	<%= f.text_field :address,:class=>'form-control'  %></div>
</div>
<!--
<<div class="form-group field">
	<%= f.label :账号 ,:class=>'col-sm-2 control-label'%>
	<div class="col-sm-10">
	<%= f.number_field :login_number,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :最后登录时间 ,:class=>'col-sm-2 control-label'%>
	<div class="col-sm-10">
	<%= f.datetime_select :last_login_time,:class=>'form-control'  %></div>
</div>
<div class="form-group field">
	<%= f.label :状态,:class=>'col-sm-2 control-label' %>
	<div class="col-sm-10">
	<%= f.text_field :status,:class=>'form-control'  %></div>
</div>
-->
<div class="form-group field actions">
	<div class="pull-right">

		<%= f.submit '提交',:class=>"btn btn-default"%>
	</div>
</div>
<% end %>
