<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @a_level_tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @a_level_tag.description %>
</p>

<%= link_to 'Edit', edit_a_level_tag_path(@a_level_tag) %> |
<%= link_to 'Back', a_level_tags_path %>
