<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_period.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @time_period.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_period.end_time %>
</p>

<%= link_to 'Edit', edit_time_period_path(@time_period) %> |
<%= link_to 'Back', time_periods_path %>
