<p id="notice"><%= notice %></p>

<p>
  <strong>Paid:</strong>
  <%= @appointment.paid %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @appointment.fee %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
