<%= form_for [:maintainer, @maintainer_instrument] do |f| %>
  <% if @maintainer_instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintainer_instrument.errors.count, "error") %> prohibited this maintainer_instrument from being saved:</h2>

      <ul>
      <% @maintainer_instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group field">
    <%= f.label :name ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_field :name,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :model ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_field :model,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :price ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_field :price,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :fee_per_hour ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_field :fee_per_hour,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :img_url ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_field :img_url,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :description ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_area :description,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :status ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.text_field :status,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :user_id ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.number_field :user_id,:class=>'form-control' %>
	</div>
</div>
<div class="form-group field">
    <%= f.label :institution_id ,:class=>'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%= f.number_field :institution_id,:class=>'form-control' %>
  </div>
  </div>
<div class="form-group field actions">
	<div class="pull-right">
    <%= f.submit 'æäº¤',:class=>"btn btn-default"%>
	</div>
</div>
<% end %>
