<!DOCTYPE html>
<html>
<head>
  <title>EasyUse</title>
  <%= stylesheet_link_tag "css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "css/style.css" %>

  <%= javascript_include_tag "js/jquery-2.1.1.min.js" %>
  <%= javascript_include_tag "js/bootstrap.min.js" %>


  <%= csrf_meta_tags %>
<style>
html,body{
					height: 100%;
					margin:0;
					padding:0;
				}
				.container {
					min-height: 100%;
					height: auto !important;
					height: 100%;
					margin: 0 auto -160px;/*margin-bottom的负值等于footer高度*/
				}
				
				.footer {
					height: 80px;
					clear:both;
				}
</style>
<body>

<%= yield %>

</body>
</html>